%div.experiment-container.experiment-test
  .comparison-page-content.comparison.gray-bg#comparison
    = partial "includes/features/table-test", locals: { product_one: data.devops_tools_list.devops_tools.gitlab_core, product_two: data.devops_tools_list.devops_tools.gitlab_starter, product_three: data.devops_tools_list.devops_tools.gitlab_premium, product_four: data.devops_tools_list.devops_tools.gitlab_ultimate, key_one: 'gitlab_core', key_two: 'gitlab_starter', key_three: 'gitlab_premium', key_four: 'gitlab_ultimate', name_one: 'Free', name_two: 'Bronze', name_three: 'Silver', name_four: 'Gold', gitlab_com_features: true }
-#:css
  .experiment-test .comparison .compare-table th:nth-of-type(3),
  .experiment-test .comparison .compare-table td:nth-of-type(3) {
    display: none;
  }
